$primary: #0F8A5F;
$danger: #F5624D;
$success: #34A65F;
$warning: orange;
$info: #34A65F;
// $x: #0F8A5F;
$dark: #CC231E;

@import "node_modules/bootstrap/scss/bootstrap";
body { background: #235E6F; } 