{% extends "base.html" %}
{% block content %}

<h1>{{ blog_user.username }}'s Blog</h1>

<div class="row m-2">
  {% set tags =blog_user.tags.split(',') %}
  {% for tag in tags %}
    <div class="col-2 m-1 border rounded bg-info">{{ tag }}</div>
  {% endfor %}
</div>

  <!-- Modal -->
<div class="modal fade" id="twitterModal" tabindex="-1" aria-labelledby="twitterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title" id="twitterModalLabel">Share this blog on Twitter</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark">
          Edit your Tweet:
          <textarea class="form-control" id="share-area" rows="3" name="content">Check out this fantastic #intigriti-xss blog post! {{ request.url }}</textarea>
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-primary text-light" data-bs-dismiss="modal">Close</button>
          <a href="https://twitter.com/intent/tweet?text=Hello%20World&ref_src=twsrc%5Etfw" id="twitter-button" class="btn btn-primary text-light">Share</a>
        </div>
      </div>
    </div>
</div>

<div class="row border rounded bg-dark bg-opacity-75 mb-2 p-2 px-5">
    {{ blog_user.content|safe }}
</div>
  
<button type="button" class="btn btn-primary mb-2 text-light" data-bs-toggle="modal" data-bs-target="#twitterModal" id="share-button">
  Share this on Twitter
</button>    

<hr>

<div class="row border rounded mb-2 p-2">
  <div class="col">    
    <form action="/comment/{{ blog_user.id }}" id="comment-form" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      <div class="row pb-2 gy-4 g-3">
        <label for="commentator-name" class="col col-form-label">Write a comment:</label>
        <div class="col">
          <input type="text" class="form-control" id="commentator-name" placeholder="Your Name" name="name">
        </div>
        <div class="col d-grid p-0">
          <input type="submit" class="btn btn-primary text-light" form="comment-form" value="Post"></input>
        </div>
      </div>
      <div class="row gy-4 g-3">
        <textarea class="form-control" id="commentator-text" rows="3" name="text">...</textarea>
      </div>
    </form>    
  </div>
</div>

{% for comment in blog_user.comments %}
  <div class="row border rounded mb-2">
    <div class="row pb-2">
      <b>{{ comment.name }}:</b>
    </div>
    <div class="row">
      <p>
        {{ comment.text }}
      </p>
    </div>
  </div>
{% endfor %}

<script nonce="{{nonce}}">

  function change_share_url() {
    const share_area = document.querySelector("#share-area");
    const twitter_button = document.querySelector("#twitter-button");
    let share_content = share_area.value;
    twitter_button.href = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(share_content);
  }

  document.addEventListener("DOMContentLoaded", function(){
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const share = urlParams.get('share')
    if (share != null) {
        let share_button = document.querySelector("#share-button");
        share_button.click()
    }

    change_share_url()
    document.querySelector("#share-area").addEventListener("keyup", function(){
      change_share_url()
    });

  });
</script>
{% endblock %}
